__pycache__/
*/__pycache__/
*.swp
DATT/learning/data/
DATT/learning/MPC/
DATT/learning/logs/*
DATT/learning/c_generated_code/
logs/*
checkpoints/*.zip
c_generated_code/
.vs/
media/
logging/
dist/
*.egg-info/
.venv/
uv.lock
.opencode/
